@use './typography' as *;
@use './variables' as *;

// General rules
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Avenir';
}

img {
    width: 100vw;
    padding: 0 1rem 1rem 1rem;
}

.logo {
  max-height: 1.25rem;
}

// Rules for header

  .header {
    text-align: center;
    background-color: $primary-color-black;

    @media screen and (min-width: $tablet-breakpoint) {
      display: flex;
      align-items: center;
    }

    &__navbar {
    display: flex;
    justify-content: space-evenly;
    }
  }


// rules for footer 

footer {
    text-align: left;
    background-color: $primary-color-black;
}

.address, .agent {
  display: flex;
  flex-direction: column;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    width: 30vw;

    img {
      width: auto;
    }
}


//   rules for fonts
  .logo, .section-header {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 1rem;
  }

  .subheader {
    font-size: 0.875rem;
    font-weight: 600;
    padding: 1rem;
  }

  .body-copy, .footer-copy {
    font-size: 0.813rem;
    line-height: 1.125rem;
    padding: 1rem;
  }

  .active {
    border-bottom: 4px;
  }

  .font {
    
    &__white {
      color: $primary-color-white;
    }

    &__silver {
      color: $primary-color-silver;
    }
}


