@use './typography' as *;
@use './variables' as *;

// General rules
html {
  height: 100%;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Avenir';
}

img {
    width: 100vw;
    padding: 0 1rem 1rem 1rem;
}

.logo {
  height: 1.25rem;
  width: 7.5rem;
  padding: 0;
}

// Rules for header

  .header {
    position: sticky;
    top: 0;
    width: 100vw;
    text-align: center;
    background-color: $primary-color-black;

    @media screen and (min-width: $tablet-breakpoint) {
      position: fixed;
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      padding-left: 4rem;
    }

    &__logo {
      margin: 1rem 1rem 0.25rem 1rem;

      @media screen and (min-width: $tablet-breakpoint) {
        margin: 1.5rem 2.25rem 1rem 2.25rem;
      }
    }

    &__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      @media screen and (min-width: $tablet-breakpoint) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      &--list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        @media screen and (min-width: $tablet-breakpoint) {
          padding-top: 0.5rem;
        }

        li {
          width: 50vw;
          padding-bottom: 0.5rem;

          @media screen and (min-width: $tablet-breakpoint) {
            width: auto;
          }
        }
        
        .active {
          border-bottom: 0.25rem solid;
          border-color: $primary-color-white;

          @media screen and (min-width: $tablet-breakpoint) {
            border: none;
          }

          a {
          color: $primary-color-white;
          font-weight: 700;
            
          @media screen and (min-width: $tablet-breakpoint) {
            text-decoration: underline;
            text-decoration-color: $primary-color-white;
            text-decoration-thickness: 0.25rem;
            text-underline-offset: 1.5rem;
          }
        }
        }

        a {
        text-decoration: none;
        color: $primary-color-silver;
        padding: 0 1rem 1rem 1rem;
        font-size: 0.875rem;
        font-weight: 400;
      
        }

        
      }
      }

      
    }
  

// rules for footer 

.footer {
    text-align: left;
    background-color: $primary-color-black;
    position: relative;
    padding-top: 1rem;

    @media screen and (min-width:$tablet-breakpoint) {
      > div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin-left: 2.25rem;
        margin-right: 2.25rem;
      }
    }  

    &__social {
     
      @media screen and (min-width:$tablet-breakpoint) {
        display: flex;
        align-items: center;

        h2 {
          padding: 0;
        }
      }  

      &--icons {
        display: flex;
        justify-content: flex-start;
        width: 10rem;
      
        @media screen and (min-width:$tablet-breakpoint) {
          width: 20vw;
        }

        img {
          width: auto;
          height: auto;

          @media screen and (min-width:$tablet-breakpoint) {
            width: 3rem;
            height: 1.75rem;
            padding: 0;
          }
        }
      }
      
      
    }

    &__contact-info {
      margin-bottom: 3rem;

      @media screen and (min-width:$tablet-breakpoint) {
        display: flex;
        justify-content: space-between;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        margin-bottom: 0;
      }  

      @media screen and (min-width:$desktop-breakpoint) {
        padding-left: 4rem;
        width: 80vw;
      }

      .subheader {
        font-size: 0.875rem;
      }
      
      .body-copy {
        padding: 0.5rem 1rem 0.5rem 1rem;
      }
    }

    &__logo1 {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      margin-bottom: 2rem;
      
      @media screen and (min-width:$tablet-breakpoint) {
        display: none;
      }  
      
    }

    &__logo2 {
      display: none;

      @media screen and (min-width:$tablet-breakpoint) {
        display: block;
      } 
    }

    &__copyright {
      @media screen and (min-width:$tablet-breakpoint) {
        padding: 1.25rem;
        }

        @media screen and (min-width:$desktop-breakpoint) {
          padding: 2rem 4rem 2rem 4rem;
          }
      }
}

.address, .agent1, .agent2 {
  display: flex;
  flex-direction: column;
}




//   rules for fonts

.section-header {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 1rem;
    font-weight: 700;

  @media screen and (min-width:$tablet-breakpoint) {
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding: 2.25rem;

      
    }
    
  @media screen and (min-width:$desktop-breakpoint) {
      font-size: 2.25rem;
      line-height: 2.75rem;  
      padding: 3rem 5rem 2.25rem 5rem;
      }
  }

.subheader {
    font-size: 0.875rem;
    font-weight: 600;
    padding: 1rem;

    @media screen and (min-width:$tablet-breakpoint) {
      font-size: 1.5rem;
      line-height: 2rem;
    }

  }

  .body-copy, .footer-copy {
    font-size: 0.813rem;
    line-height: 1.125rem;
    padding: 1rem;

    @media screen and (min-width:$tablet-breakpoint) {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  

  .font {
    
    &__white {
      color: $primary-color-white;
    }

    &__silver {
      color: $primary-color-silver;
    }
  }


