@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("otf");
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Avenir";
}

img {
  width: 100vw;
  padding: 0 1rem 1rem 1rem;
}

.logo {
  height: 1.5rem;
  width: 7.5rem;
  padding: 0;
}

.header {
  width: 100vw;
  text-align: center;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: 5rem;
  }
}
.header__logo {
  margin: 1rem;
}
.header__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__navbar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__navbar--list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.header__navbar--list a {
  text-decoration: none;
  color: #AFAFAF;
  padding-top: 0;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .header__navbar--list a {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.footer {
  text-align: left;
  background-color: #323232;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    align-items: center;
  }
}
.footer__social--icons {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
@media screen and (min-width: 768px) {
  .footer__social--icons {
    width: 20vw;
  }
}
.footer__social--icons img {
  width: auto;
  height: auto;
}
.footer__contact-info {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    display: flex;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact-info {
    padding-left: 4rem;
    width: 80vw;
  }
}
.footer__logo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    left: 80%;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    padding: 2rem 4rem 2rem 4rem;
  }
}

.address, .agent1, .agent2 {
  display: flex;
  flex-direction: column;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 5rem 2.25rem 5rem;
  }
}

.subheader {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.body-copy, .footer-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .body-copy, .footer-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.font__white {
  color: #FFFFFF;
}
.font__silver {
  color: #AFAFAF;
}

.active {
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: 4px;
}

.hero {
  display: flex;
  justify-content: left;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  height: 50vh;
  scroll-margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 30rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding: 5rem;
  }
}

.headline__title {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .headline__title {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .headline__title {
    padding: 3rem 5rem 2.25rem 5rem;
  }
}
.headline__image {
  padding-bottom: 0;
}
.headline__article {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 1rem 1rem 0.5rem 1rem;
}
.headline__article--quotee {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .headline__image, .headline__article {
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .about__title {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .about__article {
    display: flex;
    justify-content: space-evenly;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .img-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .img-container {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .img-container img {
    margin: 0.75rem;
    padding: 0;
    width: 30%;
    max-width: 24rem;
  }
}/*# sourceMappingURL=bio.css.map */