@use "./partials/globals";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    height: 35vh;

    @media screen and (min-width: $tablet-breakpoint) {
        height: 80vh;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1rem;
        font-weight: 700;

        @media screen and (min-width:$tablet-breakpoint) {
            font-size: 3.75rem;
            line-height: 4.25rem;
            margin-left: 1.25rem
        }

        @media screen and (min-width:$desktop-breakpoint) {
            width: $desktop-element-width;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        }

}

.headline {
    background-color: $primary-color-white;

    &__title {
    padding: 1.5rem 1rem 1rem 1rem;

        @media screen and (min-width: $tablet-breakpoint) {
            padding: 3rem 2.25rem 2.25rem 2.25rem;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            padding-left: 0;
            width: $desktop-element-width;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.about {
    padding-bottom: 1.75rem;
    background-color: $primary-color-white;

    @media screen and (min-width:$tablet-breakpoint) {
        display: flex;
        flex-direction: column;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:$desktop-breakpoint) {
        width: 55.313rem;

        &__image {
            max-width: $desktop-element-width;
        }
    }


    &__image {
        padding-bottom: 0;
    }

    &__quote, &__quotee {
        font-size: 0.875rem;
        font-weight: 700;
    }
    
    &__quote {
        padding: 1rem 1rem 0.5rem 1rem;

        @media screen and (min-width:$tablet-breakpoint) {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    &__quotee {
        padding: 0 1rem 1rem 1rem;
    }


    &__image, &__quote, &__quotee {
        @media screen and (min-width:$tablet-breakpoint) {
            width: 75vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            width: 55.313rem;
        }
    }

    &__title, &__article {
        @media screen and (min-width: $tablet-breakpoint) {
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            width: 55.313rem;
        }
    }

    &__article {
        @media screen and (min-width: $tablet-breakpoint) {
            display: flex;
            justify-content: space-evenly;            
        }
    }
}


.gallery {
    background-color: $secondary-color-white;
    padding-top: 1.75rem;

    h2 {
        @media screen and (min-width: $desktop-breakpoint) {
            padding: 0;
        }
    }

    &__img-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        margin: 1rem;

        &--1, &--2, &--3 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

            img {
                max-width: 100%;
                padding: 0;
            }
        }

        @media screen and (min-width: $tablet-breakpoint) {
            gap: 1.5rem;
            margin: 2.25rem;
        
        &--1, &--2, &--3 {
            flex-direction: row;
            justify-content: space-between;
            gap: 1.5rem;

            img {
                width: 31.5%;
            }
        }
    }
    }

    h2, &__img-container {
        @media screen and (min-width: $desktop-breakpoint) {
           width: $desktop-element-width;
           margin-left: auto;
           margin-right: auto;
       }
   }
}

.comment {
    background-color: $primary-color-white;

    &__form {
        display: flex;
        width: 100vw;
        padding: 0 1rem 1rem 1rem;

        &--avatar {
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            padding: 0;
            margin: 1rem 1rem 0 0;
        }

        &--formBody {
            width: 100%;
        }

        &--label {
            color: $primary-color-silver;
            font-weight: 600;
            font-size: 0.625rem;
            
        }

        &--field {
            padding: 0.75rem;
            margin: 0.25rem 0 1rem 0;
            border-radius: 4px;
            border: 1px solid $secondary-color-silver;
            background-color: $secondary-color-white;
            
            @media screen and (min-width: $tablet-breakpoint) {
                padding: 1rem;
            }


        }

        &--button {
            background-color: $primary-color-black;
            color: $primary-color-white;
            font-weight: 600;
            height: 2.5rem;
            width: 100%;
            border-radius: 4px;
        }
    }

    #name {
        min-height: 2.25rem;
    }

    label, input, textarea {
        display: block;
        width: 100%;
    }

    textarea {
        height: 8rem;
        resize: vertical;
    }
    
    &__submitted {

        &--item {
            display: flex;
            width: 100vw;
            padding: 0 1rem 1rem 1rem;
        }

        &--noAvatar {
            background-color: $secondary-color-silver;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            padding: 0;
        }

        &--content {
            width: 100%;
            padding-left: 1rem;

            h3, p {
                font-size: 0.813rem;
            }
        }

        
        &--header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        &--date {
            color: $primary-color-silver;
            font-weight: 400;
        }    
        
        &--details {
                font-weight: 500;
        }
    }
    
}