@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/Font/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/Font/Alternative\ files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/Font/Alternative\ files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Avenir", sans-serif;
  color: #323232;
}

img {
  width: 100vw;
  padding: 0 1rem 1rem 1rem;
}

.logo {
  height: 1.25rem;
  width: 7.5rem;
  padding: 0;
}

.divider {
  border-bottom: 1px solid #E1E1E1;
  margin: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .divider {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .divider {
    width: 47vw;
  }
}
.divider--mobile {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 1rem;
}

::-moz-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: #323232;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  margin: 1rem 1rem 0.25rem 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 1.5rem 2.25rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-left: 0;
  }
}
.header__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__navbar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__navbar {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__navbar--list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__navbar--list {
    padding-top: 0.5rem;
  }
}
.header__navbar--list li {
  width: 50vw;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__navbar--list li {
    width: auto;
  }
}
.header__navbar--list a {
  text-decoration: none;
  color: #AFAFAF;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.header__navbar--list .active {
  border-bottom: 0.25rem solid;
  border-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__navbar--list .active {
    border: none;
  }
}
.header__navbar--list .active a {
  color: #FFFFFF;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__navbar--list .active a {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1.5rem;
  }
}

.footer {
  text-align: left;
  background-color: #323232;
  position: relative;
  padding-top: 1rem;
}
.footer * {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer .footer-items {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer .footer-items {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .social-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.footer__social .section-header {
  padding: 0 0 1rem 0;
  width: 14.25rem;
}
@media screen and (min-width: 768px) {
  .footer__social .section-header {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    align-items: center;
  }
}
.footer__social--icons {
  display: flex;
  justify-content: flex-start;
  width: 15rem;
}
@media screen and (min-width: 768px) {
  .footer__social--icons {
    justify-content: center;
  }
}
.footer__social--icons img {
  width: auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer__social--icons img {
    width: 3rem;
    height: 1.75rem;
    padding: 0;
  }
}
.footer__contact-info {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.footer__contact-info .subheader {
  font-size: 0.875rem;
}
.footer__contact-info .body-copy {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info .body-copy {
    padding: 0.5rem 0 0.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact-info {
    width: 75%;
  }
}
.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.footer__logo--mobile {
  position: absolute;
  bottom: 2.5rem;
  left: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet {
    display: block;
  }
}

.address, .agent-limitless, .agent-arch {
  display: flex;
  flex-direction: column;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.subheader {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 0;
  }
}

.body-copy, .footer-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .body-copy, .footer-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-left: 0;
  }
}

.font__white {
  color: #FFFFFF;
}
.font__silver {
  color: #AFAFAF;
}

.hero {
  display: flex;
  justify-content: left;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 63.75rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.headline {
  background-color: #FFFFFF;
}
.headline__title {
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .headline__title {
    padding: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .headline__title {
    padding-left: 0;
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.about {
  padding-bottom: 1.75rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    width: 55.313rem;
  }
  .about__image {
    max-width: 63.75rem;
  }
}
.about__image {
  padding-bottom: 0;
}
.about__quote, .about__quotee {
  font-size: 0.875rem;
  font-weight: 700;
}
.about__quote {
  padding: 1rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.about__quotee {
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__image, .about__quote, .about__quotee {
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .about__image, .about__quote, .about__quotee {
    width: 55.313rem;
  }
}
@media screen and (min-width: 768px) {
  .about__title, .about__article {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title, .about__article {
    width: 55.313rem;
  }
}
@media screen and (min-width: 768px) {
  .about__article {
    display: flex;
    justify-content: space-evenly;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding-top: 1.75rem;
  padding-bottom: 0.25rem;
}
@media screen and (min-width: 1280px) {
  .gallery h2 {
    padding: 0;
  }
}
.gallery__img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}
.gallery__img-container--1, .gallery__img-container--2, .gallery__img-container--3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.gallery__img-container--1 img, .gallery__img-container--2 img, .gallery__img-container--3 img {
  max-width: 100%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .gallery__img-container {
    gap: 1.5rem;
    margin: 2.25rem;
  }
  .gallery__img-container--1, .gallery__img-container--2, .gallery__img-container--3 {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }
  .gallery__img-container--1 img, .gallery__img-container--2 img, .gallery__img-container--3 img {
    width: 31.5%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery h2, .gallery__img-container {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.comment {
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .comment {
    padding-bottom: 1.25rem;
  }
}
.comment .section-header {
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .comment .section-header {
    padding: 2.5rem 0 2.5rem 0;
  }
}
.comment__form {
  display: flex;
  width: 100vw;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .comment__form {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .comment__form {
    width: 40vw;
  }
}
.comment__form--avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  padding: 0;
  margin: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.comment__form--formBody {
  width: 100%;
  height: 17.5rem;
  position: relative;
}
.comment__form--label {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 0.625rem;
}
.comment__form--field {
  padding: 0.75rem;
  margin: 0.25rem 0 1rem 0;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
}
.comment__form--field:focus {
  outline: 1px solid #323232;
}
@media screen and (min-width: 768px) {
  .comment__form--field {
    padding: 1rem;
  }
}
.comment__form--button {
  background-color: #323232;
  color: #FFFFFF;
  font-weight: 600;
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  border-color: transparent;
}
.comment__form--button:focus {
  outline: transparent;
}
.comment__form--button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .comment__form--button {
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    right: 0;
    bottom: -0.75rem;
  }
}
.comment #name {
  min-height: 2.25rem;
}
@media screen and (min-width: 768px) {
  .comment #name {
    min-height: 3rem;
  }
}
.comment label, .comment input, .comment textarea {
  display: block;
  width: 100%;
}
.comment textarea {
  height: 8rem;
  resize: vertical;
}
.comment__submitted--item {
  display: flex;
  width: 100vw;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .comment__submitted--item {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .comment__submitted--item {
    width: 40vw;
  }
}
.comment__submitted--noAvatar {
  background-color: #E1E1E1;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  padding: 0;
  flex-shrink: 0;
}
.comment__submitted--content {
  width: 100%;
  padding-left: 1rem;
}
.comment__submitted--content h3, .comment__submitted--content p {
  font-size: 0.813rem;
}
.comment__submitted--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.comment__submitted--date {
  color: #AFAFAF;
  font-weight: 400;
}
.comment__submitted--details {
  font-weight: 500;
}

.error {
  border: 1px solid #D22d2d;
}
.error:focus {
  outline: transparent;
}/*# sourceMappingURL=bio.css.map */