@use "./partials/globals";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    height: 35vh;
    scroll-margin-top: 2rem;

    @media screen and (min-width: $tablet-breakpoint) {
        height: 70vh;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1rem;
        font-weight: 700;

        @media screen and (min-width:$tablet-breakpoint) {
            font-size: 3.75rem;
            line-height: 4.25rem;
            margin-left: 1.25rem
        }

        @media screen and (min-width:$desktop-breakpoint) {
        padding: 5rem;
        }
        }

}

.headline {
    
    &__title {
    padding: 1.5rem 1rem 1rem 1rem;

        @media screen and (min-width: $tablet-breakpoint) {
            padding: 3rem 2.25rem 2.25rem 2.25rem;
        }

        @media screen and (min-width: $desktop-breakpoint) {
                padding: 3rem 5rem 2.25rem 5rem;
        }
    }

    &__image {
            padding-bottom: 0;
        }

    &__quote {
        font-size: 0.875rem;
        font-weight: 700;
        padding: 1rem 1rem 0.5rem 1rem;
    
        @media screen and (min-width:$tablet-breakpoint) {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    &__quotee {
        font-size: 0.875rem;
        font-weight: 700;
        padding: 0 1rem 1rem 1rem;
    }
    
    
    &__image, &__quote, &__quotee {
        @media screen and (min-width:$tablet-breakpoint) {
            width: 75vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    

}

.about {

    &__title {
        @media screen and (min-width: $tablet-breakpoint) {
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__article {
        @media screen and (min-width: $tablet-breakpoint) {
            display: flex;
            justify-content: space-evenly;
            width: 75vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


.gallery {
    background-color: $secondary-color-white;
    padding-top: 1.75rem;

    @media screen and (min-width: $tablet-breakpoint) {
        padding-bottom: 1.75rem;
    }

    &__img-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (min-width: $tablet-breakpoint) {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 1.5rem 0 1.5rem;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            max-width: 63.75rem;
            margin: auto;
        }

        img {
            @media screen and (min-width: $tablet-breakpoint) {
                margin: 0.75rem;
                padding: 0;
                width: 30%;
            }
        }
    }
}
