@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/Font/Alternative\ files/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/Font/Alternative\ files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/Font/Alternative\ files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
}
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Avenir", sans-serif;
  color: #323232;
}

img {
  width: 100vw;
  padding: 0 1rem 1rem 1rem;
}

.logo {
  height: 1.25rem;
  width: 7.5rem;
  padding: 0;
}

.divider {
  border-bottom: 1px solid #E1E1E1;
  margin: 0 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .divider {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .divider {
    width: 47vw;
  }
}
.divider--mobile {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 1rem;
}

::-moz-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: #323232;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  margin: 1rem 1rem 0.25rem 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 1.5rem 2.25rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-left: 0;
  }
}
.header__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__navbar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__navbar {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__navbar--list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__navbar--list {
    padding-top: 0.5rem;
  }
}
.header__navbar--list li {
  width: 50vw;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__navbar--list li {
    width: auto;
  }
}
.header__navbar--list a {
  text-decoration: none;
  color: #AFAFAF;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.header__navbar--list .active {
  border-bottom: 0.25rem solid;
  border-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__navbar--list .active {
    border: none;
  }
}
.header__navbar--list .active a {
  color: #FFFFFF;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__navbar--list .active a {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1.5rem;
  }
}

.footer {
  text-align: left;
  background-color: #323232;
  position: relative;
  padding-top: 1rem;
}
.footer * {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer .footer-items {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer .footer-items {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .social-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.footer__social .section-header {
  padding: 0 0 1rem 0;
  width: 14.25rem;
}
@media screen and (min-width: 768px) {
  .footer__social .section-header {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    align-items: center;
  }
}
.footer__social--icons {
  display: flex;
  justify-content: flex-start;
  width: 15rem;
}
@media screen and (min-width: 768px) {
  .footer__social--icons {
    justify-content: center;
  }
}
.footer__social--icons img {
  width: auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer__social--icons img {
    width: 3rem;
    height: 1.75rem;
    padding: 0;
  }
}
.footer__contact-info {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.footer__contact-info .subheader {
  font-size: 0.875rem;
}
.footer__contact-info .body-copy {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info .body-copy {
    padding: 0.5rem 0 0.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact-info {
    width: 75%;
  }
}
.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.footer__logo--mobile {
  position: absolute;
  bottom: 2.5rem;
  left: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet {
    display: block;
  }
}

.address, .agent-limitless, .agent-arch {
  display: flex;
  flex-direction: column;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.subheader {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 0;
  }
}

.body-copy, .footer-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .body-copy, .footer-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-left: 0;
  }
}

.font__white {
  color: #FFFFFF;
}
.font__silver {
  color: #AFAFAF;
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 70vh;
  }
}
.hero__contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .hero__contentBox {
    width: 63.75rem;
    flex-direction: row;
    align-items: end;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
  }
}
.hero__title-box {
  height: 50%;
  width: 75%;
  padding: 2rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title-box {
    padding: 4rem 2.25rem 4rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title-box {
    padding: 0;
  }
  .hero__title-box h1 {
    width: auto;
  }
}
.hero__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 63.75rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__subtitle {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-weight: 600;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    padding-bottom: 1.25rem;
  }
}
.hero__songContainer {
  height: 12vh;
  width: 90vw;
  border-radius: 4px;
  margin: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .hero__songContainer {
    width: 50%;
    height: 9rem;
    margin-left: 2.25rem;
    margin-top: -1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__songContainer {
    margin: 0;
    height: 8rem;
  }
}
.hero__soundtrack {
  border-radius: 4px;
}

.shows {
  background-color: #FFFFFF;
}
.shows .section-header {
  font-weight: 600;
  margin-top: 2.25rem;
}
@media screen and (min-width: 768px) {
  .shows .section-header {
    margin: 2.25rem;
  }
  .shows .shows-container {
    margin: 0 1.25rem 1.5rem 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    width: 63.75rem;
    margin: 3rem auto 1.5rem auto;
  }
  .shows .section-header {
    width: 150px;
    margin: 0 7.5rem 0 0;
  }
  .shows .shows-container {
    width: 870px;
  }
}
.shows__tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__tablet {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .shows__tablet--header {
    font-size: 0.813rem;
    color: #AFAFAF;
    font-weight: 600;
    flex-basis: 25%;
  }
  .shows__tablet--header--location {
    font-size: 0.813rem;
    color: #AFAFAF;
    font-weight: 600;
    flex-basis: 50%;
  }
}
.shows__show-item {
  padding: 1rem;
  transition: background-color 0ms ease;
}
@media screen and (min-width: 768px) {
  .shows__show-item {
    display: flex;
    align-items: baseline;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }
  .shows__show-item--date, .shows__show-item--place {
    flex-basis: 25%;
  }
}
.shows__show-item--mobile-header {
  font-size: 0.813rem;
  color: #AFAFAF;
  font-weight: 600;
  padding: 0.6rem 0 0.6rem 0;
}
@media screen and (min-width: 768px) {
  .shows__show-item--mobile-header {
    display: none;
  }
}
.shows__show-item--date {
  font-weight: 600;
}
.shows__show-item--place {
  font-weight: 500;
}
.shows__show-item--date, .shows__show-item--place {
  padding-bottom: 1rem;
}
.shows__show-item--button {
  background-color: #323232;
  color: #FFFFFF;
  font-weight: 600;
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .shows__show-item--button {
    width: 9.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.shows__show-item:not(.shows__selected):hover {
  background-color: #FAFAFA;
}
.shows__selected {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */