@use "./partials/globals";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-shows.jpg);
    background-size: cover;
    height: 50vh;
    position: relative;

    @media screen and (min-width: $tablet-breakpoint) {
        height: 80vh;
    }

    &__title-box {
        padding: 2rem 1rem 1rem 1rem;
    }

    &__title {
        color: $primary-color-white;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        padding-top: 1rem;

        @media screen and (min-width:$tablet-breakpoint) {
            font-size: 3.75rem;
            line-height: 4.25rem;
            margin-left: 1.25rem
        }

        @media screen and (min-width:$desktop-breakpoint) {
            width: $desktop-element-width;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        }

    &__subtitle {
        color: $primary-color-white;
        font-size: 0.875rem;
        font-weight: 400;
    }

    &__soundtrack {
        position: absolute;
        bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height:40%;
        width: 90%;
    }

}

.shows {
    background-color: $primary-color-white;

    .section-header {
        font-weight: 600;
        margin-top: 2.25rem;
    }

    .shows-container {
        margin: 1rem;
    }

    @media screen and (min-width:$tablet-breakpoint) {
        .section-header {
            margin: 2.25rem;
        }

        .shows-container {
            margin: 0 2.25rem 1.5rem 2.25rem;
        }
    }

    @media screen and (min-width:$desktop-breakpoint) {
        display: flex;
        width: $desktop-element-width;
        margin: 3rem auto 1.5rem auto;

        .section-header {
            width: 150px;
            margin: 0 7.5rem 0 0;
        }

        .shows-container {
            width: 870px;
        }
    }

    &__tablet {
        display: none;

        @media screen and (min-width:$tablet-breakpoint) {
            display: flex;
            justify-content: space-between;

            &--header {
                font-size: 0.813rem;
                color: $primary-color-silver;
                font-weight: 600;
                flex-basis: 25%;

                &--location {
                    font-size: 0.813rem;
                    color: $primary-color-silver;
                    font-weight: 600;
                    flex-basis: 50%;
                }
            }
        }

    }
    &__show-item {
        margin: 1rem 0 1rem 0;

        @media screen and (min-width:$tablet-breakpoint) {
            display: flex;
            align-items: baseline;

            &--date, &--place {
                flex-basis: 25%;
            }
        }

        &--mobile-header {
            font-size: 0.813rem;
            color: $primary-color-silver;
            font-weight: 600;
            padding: 0.6rem 0 0.6rem 0;

            @media screen and (min-width:$tablet-breakpoint) {
                display: none;
            }
        }

        &--date {
            font-weight: 600;
        }

        &--place {
            font-weight: 500;
        }

        &--date, &--place {
            padding-bottom: 1rem;
        }

        &--button {
            background-color: $primary-color-black;
            color: $primary-color-white;
            font-weight: 600;
            height: 2.5rem;
            width: 100%;
            border-radius: 4px;
            border-color: transparent;

            @media screen and (min-width: $tablet-breakpoint) {
                width: 9.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

       
        
    }
}

