@use "./partials/globals";
@use "./partials/typography";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-shows.jpg);
    background-size: cover;
    height: 35vh;

    @media screen and (min-width: $tablet-breakpoint) {
        height: 70vh;
    }

    &__contentBox {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: $desktop-breakpoint) {
            width: $desktop-element-width;
            flex-direction: row;
            align-items: end;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10%;
    }
    }

    &__title-box {
        height: 50%;
        width: 75%;
        padding: 2rem 1rem 1rem 1rem;

        @media screen and (min-width:$tablet-breakpoint) {
            padding: 4rem 2.25rem 4rem 2.25rem;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            padding: 0;
            
            h1 {
                width: auto;
            }
        }
    }

    &__title {
        color: $primary-color-white;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        padding-top: 1rem;

        @media screen and (min-width:$tablet-breakpoint) {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }

        @media screen and (min-width:$desktop-breakpoint) {
            width: $desktop-element-width;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        }

    &__subtitle {
        color: $primary-color-white;
        font-size: 0.875rem;
        font-weight: 500;

        @media screen and (min-width:$tablet-breakpoint) {
            font-weight: 600;
            font-size: 1.5rem;
        }

        @media screen and (min-width:$desktop-breakpoint) {
            padding-bottom: 1.25rem;
        }
    }

    &__songContainer {
        height: 12vh;
        width: 90vw;
        border-radius: 4px;
        margin: 0 1rem 0 1rem;

        @media screen and (min-width:$tablet-breakpoint) {
            width: 50%;
            height: 9rem;
            margin-left: 2.25rem;
            margin-top: -1rem;
        }

        @media screen and (min-width:$desktop-breakpoint) {
            margin: 0;
            height: 8rem;
        }
    }
    
    &__soundtrack {
        border-radius: 4px;
    }

}

.shows {
    background-color: $primary-color-white;

    .section-header {
        font-weight: 600;
        margin-top: 2.25rem;
    }

    @media screen and (min-width:$tablet-breakpoint) {
        .section-header {
            margin: 2.25rem;
        }

        .shows-container {
            margin: 0 1.25rem 1.5rem 1.25rem;
        }
    }

    @media screen and (min-width:$desktop-breakpoint) {
        display: flex;
        width: $desktop-element-width;
        margin: 3rem auto 1.5rem auto;

        .section-header {
            width: 150px;
            margin: 0 7.5rem 0 0;
        }

        .shows-container {
            width: 870px;
        }
    }

    &__tablet {
        display: none;

        @media screen and (min-width:$tablet-breakpoint) {
            display: flex;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;

            &--header {
                font-size: 0.813rem;
                color: $primary-color-silver;
                font-weight: 600;
                flex-basis: 25%;

                &--location {
                    font-size: 0.813rem;
                    color: $primary-color-silver;
                    font-weight: 600;
                    flex-basis: 50%;
                }
            }
        }

    }

    &__show-item {
        padding: 1rem;
        transition: background-color 0ms ease;

        @media screen and (min-width:$tablet-breakpoint) {
            display: flex;
            align-items: baseline;
            padding: 1.5rem 1rem 1.5rem 1rem;

            &--date, &--place {
                flex-basis: 25%;
            }
        }

        &--mobile-header {
            font-size: 0.813rem;
            color: $primary-color-silver;
            font-weight: 600;
            padding: 0.6rem 0 0.6rem 0;

            @media screen and (min-width:$tablet-breakpoint) {
                display: none;
            }
        }

        &--date {
            font-weight: 600;
        }

        &--place {
            font-weight: 500;
        }

        &--date, &--place {
            padding-bottom: 1rem;
        }

        &--button {
            background-color: $primary-color-black;
            color: $primary-color-white;
            font-weight: 600;
            height: 2.5rem;
            width: 100%;
            border-radius: 4px;
            border-color: transparent;

            @media screen and (min-width: $tablet-breakpoint) {
                width: 9.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

    
        
    }
    
    &__show-item:not(.shows__selected):hover {
        background-color: $secondary-color-white;
    }

    &__selected {
        background-color: $secondary-color-silver;
    }
}

