@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("otf"), url(../../assets/Font/Alternative\ files/AvenirNextLTPro.ttf) format("ttf");
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("otf"), url(../../assets/Font/Alternative\ files/AvenirNextLTProBold.ttf) format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("otf"), url(../../assets/Font/Alternative\ files/AvenirNextLTProDemi.ttf) format("ttf");
  font-weight: 600;
}
html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Avenir", sans-serif;
  color: #323232;
}

img {
  width: 100vw;
  padding: 0 1rem 1rem 1rem;
}

.logo {
  height: 1.25rem;
  width: 7.5rem;
  padding: 0;
}

.divider {
  border-bottom: 1px solid #E1E1E1;
  margin: 0 1rem 0.5rem 1rem;
}

::-moz-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: #323232;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    display: flex;
    align-items: center;
  }
}
.header__logo {
  margin: 1rem 1rem 0.25rem 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 1.5rem 2.25rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-left: 0;
  }
}
.header__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__navbar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__navbar {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__navbar--list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__navbar--list {
    padding-top: 0.5rem;
  }
}
.header__navbar--list li {
  width: 50vw;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__navbar--list li {
    width: auto;
  }
}
.header__navbar--list a {
  text-decoration: none;
  color: #AFAFAF;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.header__navbar--list .active {
  border-bottom: 0.25rem solid;
  border-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__navbar--list .active {
    border: none;
  }
}
.header__navbar--list .active a {
  color: #FFFFFF;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__navbar--list .active a {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 1.5rem;
  }
}

.footer {
  text-align: left;
  background-color: #323232;
  position: relative;
  padding-top: 1rem;
}
.footer * {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer .footer-items {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer .footer-items {
    width: 63.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .social-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    align-items: center;
  }
  .footer__social h2 {
    padding: 0;
  }
}
.footer__social--icons {
  display: flex;
  justify-content: flex-start;
  width: 15rem;
}
@media screen and (min-width: 768px) {
  .footer__social--icons {
    justify-content: center;
  }
}
.footer__social--icons img {
  width: auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  .footer__social--icons img {
    width: 3rem;
    height: 1.75rem;
    padding: 0;
  }
}
.footer__contact-info {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.footer__contact-info .subheader {
  font-size: 0.875rem;
}
.footer__contact-info .body-copy {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-info .body-copy {
    padding: 0.5rem 0 0.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact-info {
    width: 75%;
  }
}
.footer__copyright {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.footer__logo--mobile {
  position: absolute;
  bottom: 2.5rem;
  left: 1rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--tablet {
    display: block;
  }
}

.address, .agent-limitless, .agent-arch {
  display: flex;
  flex-direction: column;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 5rem 2.25rem 5rem;
  }
}

.subheader {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 0;
  }
}

.body-copy, .footer-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .body-copy, .footer-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-left: 0;
  }
}

.font__white {
  color: #FFFFFF;
}
.font__silver {
  color: #AFAFAF;
}

.hero {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
.hero__title-box {
  padding: 2rem 1rem 1rem 1rem;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 63.75rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
}

.shows {
  background-color: #FFFFFF;
}/*# sourceMappingURL=shows.css.map */